@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #c9c9ff;
  --foreground: #05092e;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-main: var(--font-inconsolata);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #05092e;
    --foreground: #c9c9ff;
  }
} */

[data-theme="dark"] {
  --background: #05092e;
  --foreground: #c9c9ff;
}

[data-theme="light"] {
  --background: #c9c9ff;
  --foreground: #05092e;
}

html,
body {
  height: 100%;
  font-family: var(--font-inconsolata), Arial, sans-serif;
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInMenu {
  animation: fadeInMenu 0.3s ease-out forwards;
}

@keyframes spinCustom {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-fast {
  animation: spinCustom 5s linear infinite;
}

.spin-medium {
  animation: spinCustom 15s linear infinite;
}

.spin-slow {
  animation: spinCustom 30s linear infinite;
}
